@theme {
  /* Blue (100-900) */
  --blue-100: #caf0f8;
  --blue-200: #ade8f4;
  --blue-300: #90e0ef;
  --blue-400: #48cae4;
  --blue-500: #00b4d8;
  --blue-600: #0096c7;
  --blue-700: #0077b6;
  --blue-800: #023e8a;
  --blue-900: #03045e;

  /* Purple (100-800) */
  --purple-100: #e0aaff;
  --purple-200: #c77dff;
  --purple-300: #9d4edd;
  --purple-400: #7b2cbf;
  --purple-500: #5a189a;
  --purple-600: #3c096c;
  --purple-700: #240046;
  --purple-800: #10002b;
  --purple-900: #0f001a;

  /* Cyan (100-900) */
  --cyan-100: #ecfeff;
  --cyan-200: #cffafe;
  --cyan-300: #a5f3fc;
  --cyan-400: #67e8f9;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-800: #155e75;
  --cyan-900: #164e63;

  /* Violet (100-900) */
  --violet-100: #97dffc;
  --violet-200: #93caf6;
  --violet-300: #8eb5f0;
  --violet-400: #858ae3;
  --violet-500: #7364d2;
  --violet-600: #613dc1;
  --violet-700: #5829a7;
  --violet-800: #4e148c;
  --violet-900: #3d0e61;

  /* Indigo (100-900) */
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;

  /* Gray (100-900) */
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;

  /* Neutral (Essential neutrals) */
  --neutral-white: #ffffff;
  --neutral-light: #d4d4d4;
  --neutral-dark: #404040;
  --neutral-black: #000000;

  /* Semantic */
  --info-500: #0053a3;
  --success-500: #00ab00;
  --warning-500: #f26a2f;
  --error-500: #e50f51;

  /* Google */
  --color-google-logo-blue: #4285f4;
  --color-google-logo-green: #34a853;
  --color-google-logo-yellow: #fbbc05;
  --color-google-logo-red: #ea4335;
}
